{
  "audit": {
    "lastAuditType": "canonical",
    "lastSiteId": "f35ffe86-4d9b-4c13-a20b-9e6fc6231ead",
    "lastUseLocalData": false,
    "lastUseLocalUrls": true
  },
  "scraper": {
    "lastSiteId": "f35ffe86-4d9b-4c13-a20b-9e6fc6231ead"
  }
}

